//UPDATE USER INFO
//    function updateUser(event){
//
//      event.preventDefault();
//
//      // Pop up a confirmation dialog
//      var confirmation = confirm('Are you sure you want to update this user?');
//
//      // Check and make sure the user confirmed
//      if (confirmation === true) {
//        // If they did, do our update
//
//        //set the _id of the user to be update
//        var _id = $(this).parentsUntil('div').parent().attr('rel');
//
//        //create a collection of the updated fields
//        var fieldsToBeUpdated = $('#updateUser input.updated');
//
//        //create an object of the pairs
//        var updatedFields = {};
//        $(fieldsToBeUpdated).each(function(){
//          var key = $(this).attr('placeholder').replace(" ","").toLowerCase();
//          var value = $(this).val();
//          updatedFields[key]=value;
//        }
//
//        // do the AJAX
//        $.ajax({
//          type: 'PUT',
//          url: '/updateuser/' + _id,
//          data: updatedFields
//        }).done(function( response ) {
//
//          // Check for a successful (blank) response
//          if (response.msg === '') {
//            togglePanels();
//          }
//          else {
//            alert('Error: ' + response.msg);
//          }
//
//          // Update the table
//          populateTable();
//
//        });
//
//      }
//      else {
//
//        // If they said no to the confirm, do nothing
//        return false;
//
//      }
// Update User
//      function updateUser(event) {
//        console.log("In Update User")
//        event.preventDefault();
//
//        // Pop up a confirmation dialog
//        var confirmation = confirm('Are you sure you want to update this user?');
//
//        // Check and make sure the user confirmed
//        if (confirmation === true) {
//          // If they did, do our update
//
//          //set the _id of the user to be updated
////    var _id = $(this).attr('rel');
//          var _id = $(this).parentsUntil('div').parent().attr('rel');
//          console.log("ID = " + _id);
//          //create a collection of the updated fields
//          var fieldsToBeUpdated = $('#updateUser input.updated');
////    alert("fieldsToBeUpdated = " + JSON.stringify(fieldsToBeUpdated))
//          Fb.log("fieldsToBeUpdated " + fieldsToBeUpdated, "object");
//
//          //create an object of the pairs
//          var updatedFields = {};
//          $(fieldsToBeUpdated).each(function () {
//            var key = $(this).attr('placeholder').replace(" ", "").toLowerCase();
//            console.log("Attribute " + $(this).attr('placeholder'))
//            var value = $(this).val();
//            console.log("Value =" + value);
//            updatedFields[key] = value;
//          });
//          value = document.getElementById("updateUserGender").value;
//          console.log("Value =" + value);
//          updatedFields['gender'] = value;
//
//          console.log("updatedFields = " + JSON.stringify(updatedFields))
//          alert(JSON.stringify(updatedFields));
//          //alert(updatedFields)
//          // do the AJAX
//          $.ajax({
//            type: 'PUT',
////      url: '/updateuser/' + $(this).attr('rel'),
//            url: '/updateuser/' + _id,
//            data: updatedFields
//          }).done(function (response) {
//
//            // Check for a successful (blank) response
//            if (response.msg === '') {
//              togglePanels();
//            }
//            else {
//              alert('Error: ' + response.msg);
//            }
//
//            // Update the table
//            populateTable();
//
//          });
//
//        }
//        else {
//
//          // If they said no to the confirm, do nothing
//          return false;
//
//        }
//      };
